

  body {
    background: rgba(0, 0, 0, 0.956);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 60px auto;
    padding: 0 20px;
  }

  #scene-text {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  font-family: "Rubik Microbe", system-ui;
  font-weight: 400;
  font-style: normal;

  }

  #choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button {
    background: rgb(32, 32, 75);
    border: 5px solid rgb(255, 225, 0);
    color: white;
    padding: 20px 16px;
   font-family: Arial, Helvetica, sans-serif;
       cursor: pointer;
    text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 50px;

  }

  button:hover {
    background: rgb(96, 0, 48);
    color: white;
       font-family: Arial, Helvetica, sans-serif;
  }

  #restart-btn {
    display: none;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
       font-family: Arial, Helvetica, sans-serif;
  }

